
.vs/VoluntaryWorkManager/v16/Server/sqlite3/db.lock
.vs/VoluntaryWorkManager/v16/.suo
*.ide
*.ide-shm
*.ide-wal
CentralValidations/bin/Debug/netcoreapp2.2/CentralValidations.deps.json
*.dll
*.pdb
*.cache
CentralValidations/obj/CentralValidations.csproj.nuget.dgspec.json
*.props
*.targets
CentralValidations/obj/Debug/netcoreapp2.2/CentralValidations.AssemblyInfo.cs
CentralValidations/obj/Debug/netcoreapp2.2/CentralValidations.csproj.FileListAbsolute.txt
CentralValidations/obj/project.assets.json
IocManager.Domain/bin/Debug/netcoreapp2.2/IocManager.Voluntario.deps.json
IocManager.Domain/obj/Debug/netcoreapp2.2/IocManager.Voluntario.AssemblyInfo.cs
*.CopyComplete
IocManager.Domain/obj/Debug/netcoreapp2.2/IocManager.Voluntario.csproj.FileListAbsolute.txt
IocManager.Domain/obj/IocManager.Voluntario.csproj.nuget.dgspec.json
IocManager.Domain/obj/project.assets.json
IoCManager.Voluntario.Test/bin/Debug/netcoreapp2.2/IoCManager.Voluntario.Test.deps.json
IoCManager.Voluntario.Test/bin/Debug/netcoreapp2.2/IoCManager.Voluntario.Test.runtimeconfig.dev.json
IoCManager.Voluntario.Test/bin/Debug/netcoreapp2.2/IoCManager.Voluntario.Test.runtimeconfig.json
IoCManager.Voluntario.Test/obj/Debug/netcoreapp2.2/IoCManager.Voluntario.Test.AssemblyInfo.cs
IoCManager.Voluntario.Test/obj/Debug/netcoreapp2.2/IoCManager.Voluntario.Test.csproj.FileListAbsolute.txt
IoCManager.Voluntario.Test/obj/IoCManager.Voluntario.Test.csproj.nuget.dgspec.json
IoCManager.Voluntario.Test/obj/project.assets.json
Voluntario.Domain/bin/Debug/netcoreapp2.2/Voluntario.Domain.deps.json
Voluntario.Domain/obj/Debug/netcoreapp2.2/Voluntario.Domain.AssemblyInfo.cs
Voluntario.Domain/obj/Debug/netcoreapp2.2/Voluntario.Domain.csproj.FileListAbsolute.txt
Voluntario.Domain/obj/project.assets.json
Voluntario.Domain/obj/Voluntario.Domain.csproj.nuget.dgspec.json
IoCManager.Voluntario.Test/obj/Debug/netcoreapp2.2/IoCManager.Voluntario.Test.Program.cs
.vs/VoluntaryWorkManager/DesignTimeBuild/.dtbcache
